html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.layout {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.container-equipamento {
    flex: 1;
    padding: 20px;
    background: url('../../assets/roxo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.equipamento-bordinha {
    background-color: #2D1E36;
    color: white;
    border-radius: 8px;
    padding: 30px;
    margin-top: 20px;
    width: 100%;
}

.table-equipamento {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

.table-equipamento th {
    padding: 12px;
    text-align: left;
}

.table-equipamento td {
    padding: 12px;
}

.btn-equipamento-ativar {
    margin-right: 8px;
    border-radius: 10px;
    background-color: #4A1259;
    font-size: 16px;
    padding: 7px 15px;
    border: 0;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn-equipamento-ativar:hover {
    background-color: #4a2f55;
}

.btn-equipamento-inativar {
    border-radius: 10px;
    background-color: #b30c60;
    font-size: 16px;
    padding: 7px 15px;
    border: 0;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn-equipamento-inativar:hover {
    background-color: #7c394d;
}